
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $Oswald;
  font-weight: 400;
  color: #000000;
  margin: 0;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1240px;
    padding: 0 10px;
  }
}

.no-indent {
  margin: 0;
  padding: 0;
}
