.advantages {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    min-height: 700px;
    width: 768px;
    margin: 0 auto;
    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    margin: 0 auto;
    min-height: 372px;
    padding-bottom: 69px;
    border-bottom: 0;
  }
}

.advantages__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  text-align: start;
  width: 280px;
  margin-left: 20px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    line-height: 60px;
    font-size: 60px;
    width: 375px;
    margin-left: 30px;
    margin-bottom: 32px;
    margin-top: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 110px;
    margin-top: 0;
    margin-bottom: 72px;
  }
}

.advantages__description {
  font-family: $Lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    min-width: 204px;
    margin-top: 45px;
  }
}

.advantages__list {
  min-height: 300px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 246px 246px;
    grid-template-rows: 280px 280px;
    gap: 37px 136px;
    align-items: flex-end;
    counter-reset: example 1;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 1220px;
    margin: 0 auto;
    gap: 0;
    justify-content: space-between;
    align-items: center;
    min-height: 280px;
  }
}

.advantages__item {
  height: 60px;
  margin-bottom: 20px;
  width: 200px;
  margin-left: 100px;

  @media (min-width: $tablet-width) {
    min-width: 240px;
    margin-left: 30px;
    padding-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    min-width: 230px;
    padding-bottom: 0;
    margin-left: 0;
  }
}

.advantages__item:nth-child(1) {
  position: relative;

  @media (min-width: $tablet-width) {
    counter-increment: example 1;
  }
}

.advantages__item:nth-child(1)::before {
  position: absolute;
  content: "";
  background-image: url("../../icons/stack.svg#leave");
  width: 60px;
  height: 60px;
  top: 0;
  left: -80px;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    top: -110px;
    left: 0;
  }

  @media (min-width: $desktop-width) {
    top: -75px;
  }
}

.advantages__item:nth-child(2) {
  position: relative;
}

.advantages__item:nth-child(2)::before {
  position: absolute;
  content: "";
  background-image: url("../../icons/stack.svg#bottle");
  width: 60px;
  height: 60px;
  top: 0;
  left: -80px;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    top: -110px;
    left: 0;
  }

  @media (min-width: $desktop-width) {
    top: -75px;
  }
}

.advantages__item:nth-child(3) {
  position: relative;
}

.advantages__item:nth-child(3)::before {
  position: absolute;
  content: "";
  background-image: url("../../icons/stack.svg#iconeat");
  width: 60px;
  height: 60px;
  top: 0;
  left: -80px;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    top: -110px;
    left: 0;
  }

  @media (min-width: $desktop-width) {
    top: -75px;
  }
}

.advantages__item:nth-child(4) {
  position: relative;
}

.advantages__item:nth-child(4)::before {
  position: absolute;
  content: "";
  background-image: url("../../icons/stack.svg#clock");
  width: 60px;
  height: 60px;
  top: 0;
  left: -80px;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    top: -110px;
    left: 0;
  }

  @media (min-width: $desktop-width) {
    top: -75px;
  }
}
