.advantages {
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    min-height: 700px;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    min-height: 350px;
    padding-bottom: 0;
    border-bottom: 0;
  }
}

.advantages__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  text-align: start;
  width: 280px;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    line-height: 60px;
    font-size: 60px;
    width: 375px;
    margin-bottom: 69px;
    margin-top: 35px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 32px;
  }
}

.advantages__description {
  font-family: $Lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  padding-top: 2px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    margin: 0;
    max-width: 249px;
    width: 100%;
    word-break: break-word;
    overflow-wrap: break-word;
  }

  @media (min-width: $desktop-width) {
    min-width: 204px;
    min-height: 72px;
  }
}

.advantages__list {
  min-height: 300px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 246px 246px;
    gap: 37px 136px;
    align-items: start;
    counter-reset: advantages 1;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    gap: 37px 60px;
    justify-content: space-between;
    align-items: start;
  }
}

.advantages__item {
  min-height: 60px;
  margin-bottom: 20px;
  width: 200px;
  margin-left: 80px;

  &::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    top: 0;
    left: -80px;
    background-color: #68b738;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    counter-increment: advantages;
    position: relative;
    margin: 0;
    min-height: 280px;
    padding-top: 115px;

    &::before {
      width: 80px;
      height: 80px;
      top: 4px;
      left: 0;
    }

    ::after {
      content: counter(advantages);
      position: absolute;
      right: 18px;
      top: -34px;
      font-size: 280px;
      line-height: 280px;
      color: #f2f2f2;
      width: 112px;
      font-weight: 400;
      font-family: $Oswald;
      z-index: -1;
    }
  }

  @media (min-width: $desktop-width) {
    min-width: 235px;
    padding-bottom: 0;
    margin-left: 0;

    ::after {
      right: 25px;
      top: 1px;
    }
  }
}

.advantages__item:nth-child(1) {
  position: relative;

  @media (min-width: $tablet-width) {
    counter-increment: example 1;
  }
}

.advantages__item:nth-child(1)::after {
  position: absolute;
  content: "";
  background-image: url("../../icons/stack.svg#leaf");
  width: 30px;
  height: 32px;
  top: 14px;
  left: -65px;

  @media (min-width: $tablet-width) {
    top: 30px;
    left: 24px;
  }

  @media (min-width: $desktop-width) {
    top: 65px;
  }
}

.advantages__item:nth-child(2) {
  position: relative;

  @media (min-width: $desktop-width) {
    padding-left: 14px;
  }
}

.advantages__item:nth-child(2)::after {
  position: absolute;
  content: "";
  background-image: url("../../icons/stack.svg#bottle");
  width: 26px;
  height: 29px;
  top: 15px;
  left: -63px;

  @media (min-width: $tablet-width) {
    top: 30px;
    left: 29px;
  }

  @media (min-width: $desktop-width) {
    top: 66px;
    left: 32px;
  }
}

.advantages__item:nth-child(3) {
  position: relative;

  @media (min-width: $desktop-width) {
    padding-left: 10px;
  }
}

.advantages__item:nth-child(3)::after {
  position: absolute;
  content: "";
  background-image: url("../../icons/stack.svg#iconeat");
  width: 25px;
  height: 30px;
  top: 15px;
  left: -63px;

  @media (min-width: $tablet-width) {
    top: 30px;
    left: 28px;
  }

  @media (min-width: $desktop-width) {
    top: 66px;
    left: 38px;
  }
}

.advantages__item:nth-child(4) {
  position: relative;

  @media (min-width: $desktop-width) {
    padding-left: 5px;
  }
}

.advantages__item:nth-child(4)::after {
  position: absolute;
  content: "";
  background-image: url("../../icons/stack.svg#clock");
  width: 26px;
  height: 31px;
  top: 15px;
  left: -63px;

  @media (min-width: $tablet-width) {
    top: 28px;
    left: 29px;
  }

  @media (min-width: $desktop-width) {
    top: 66px;
    left: 42px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__item:nth-child(1)::before {
    top: 40px;
    left: 0;
  }

  .advantages__item:nth-child(2)::before {
    top: 40px;
    left: 5px;
  }

  .advantages__item:nth-child(3)::before {
    top: 40px;
    left: 10px;
  }

  .advantages__item:nth-child(4)::before {
    top: 40px;
    left: 15px;
  }

  .advantages__item:nth-child(1) .advantages__description {
    margin-top: 36px;
    margin-left: 1px;
  }

  .advantages__item:nth-child(2) .advantages__description {
    margin-top: 37px;
    margin-left: -9px;
  }

  .advantages__item:nth-child(3) .advantages__description {
    margin-top: 37px;
    margin-left: 0;
  }

  .advantages__item:nth-child(4) .advantages__description {
    margin-top: 37px;
    margin-left: 9px;
  }
}
