.advantages__title {
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  font-weight: 400;
}

.advantages__description {
  font-family: $Lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
