.copyright {
  width: 280px;
  margin: 20px auto 0;

  @media (min-width: $tablet-width) {
    width: 168px;
    margin: 0;
  }
}

.copyright__logo p {
  font-family: $Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  margin-top: 8px;
  text-decoration: none;
  display: block;

  &:hover,
  &:focus {
    color: #444444;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    margin-top: 8px;
    margin-left: 7px;
  }
}

.copyright__logo svg {
  fill: #666666;
}

.copyright__logo:hover svg {
  fill: #68b738;
}

.copyright__logo:focus svg {
  fill: #68b738;
}

.copyright__logo:active svg {
  fill: #68b738;
  opacity: 0.3;
}

.copyright__logo {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}
