.example-slider {
  background-color: #eaeaea;
}

// .example-slider__wrapper-button {
//   border: none;

//   &::before {
//     content: "";
//     height: 257px;
//     display: inline-block;
//     width: 4px;
//     background-color: #666666;
//     border-radius: 2px;
//     outline: none;
//   }

//   &:hover::before,
//   &:focus::before {
//     background-color: #68b738;
//   }

//   &:active::before {
//     background-color: rgba(104, 183, 56, 1);
//     opacity: 0.6;
//   }

//   &::after {
//     content: "";
//     width: 40px;
//     height: 40px;
//     display: block;
//     mask-image: url("../../icons/stack.svg#slider");
//     mask-repeat: no-repeat;
//     mask-size: 40px 40px;
//     background-color: #666666;
//     top: 1500px;
//     right: 10px;
//   }

//   &:hover::after,
//   &:focus::after {
//     background-color: #68b738;
//   }

//   &:active::after {
//     background-color: rgba(104, 183, 56, 1);
//     opacity: 0.6;
//   }
// }
.example-slider__wrapper {
  width: 280px;
  height: 256px;
  position: relative;
  box-sizing: border-box;
}

.example-slider__wrapper-view {
  position: absolute;
}

.example-slider__wrapper-view picture {
  width: 280px;
  max-width: 280px;
}

.example-slider__image-before {
  z-index: 100;
}

.example-slider__image-after {
  z-index: 200;
}

.example-slider__wrapper-button {
  position: absolute;

  cursor: pointer;
  z-index: 300;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 100%;
  border: 5px solid #666666;

  &::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 257px;
    background: linear-gradient(180deg, #666666 0%, #666666, calc(50% - 25px), transparent calc(50% - 25px), transparent calc(50% + 25px), #666666 calc(50% + 25px), #666666 100%);
    border-radius: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 400;
  }

  &::after {
    content: "";
    width: 40px;
    height: 40px;
    display: block;
    mask-image: url("../../icons/stack.svg#slider");
    mask-repeat: no-repeat;
    mask-size: 40px 40px;
    background-color: #666666;
  }

  &:hover,
  &:focus {
    border-color: #68b738;
  }

  &:hover::after,
  &:focus::after,
  &:active::after {
    background-color: #68b738;
  }

  &:hover::before,
  &:focus::before,
  &:active::before {
    background: linear-gradient(180deg, #68b738 0%, #68b738, calc(50% - 25px), transparent calc(50% - 25px), transparent calc(50% + 25px), #68b738 calc(50% + 25px), #68b738 100%);
  }
}

.example-slider__title {
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  font-weight: 400;
}

.example-slider_description {
  font-family: $Lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.example-slider__information-kg p:nth-child(1) {
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}

.example-slider__information-kg p:nth-child(2) {
  font-family: $Lato;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  text-align: center;
}

.example-slider__information-days p:nth-child(1) {
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}

.example-slider__information-days p:nth-child(2) {
  font-family: $Lato;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  text-align: center;
}

.example-slider__cost {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
