.example-slider {
  background-color: #eaeaea;
  padding-top: 20px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
    min-height: 1000px;
  }

  @media (min-width: $desktop-width) {
    min-height: 598px;
    padding: 0;
    position: relative;
  }
}

@media (min-width: $tablet-width) {
  .example-slider {
    position: relative;
  }

  .example-slider > * {
    position: relative;
    z-index: 1;
  }

  .example-slider::before {
    content: "";
    position: absolute;
    bottom: -30px;
    height: 462px;
    background-color: #f2f2f2;
    width: 100vw;
    left: calc((100vw - 100%) / -2);

    @media (min-width: $desktop-width) {
      bottom: 0;
    }
  }
}


.example-slider__wrapper {
  width: 280px;
  margin: 0 auto;
  min-height: 256px;
  position: relative;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 384px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 560px;
    margin: 0;
    margin-left: 770px;
    margin-top: -630px;
  }
}


.example-slider__wrapper-view {
  position: absolute;
}

.example-slider__wrapper-view picture {
  width: 280px;
  max-width: 280px;
}

.example-slider__image-before {
  z-index: 100;
}

.example-slider__image-after {
  z-index: 200;
}

.example-slider__wrapper-button {
  position: absolute;

  cursor: pointer;
  z-index: 300;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 100%;
  border: 5px solid #666666;

  &::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 257px;
    background: linear-gradient(180deg, #666666 0%, #666666, calc(50% - 25px), transparent calc(50% - 25px), transparent calc(50% + 25px), #666666 calc(50% + 25px), #666666 100%);
    border-radius: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 400;
  }

  &::after {
    content: "";
    width: 40px;
    height: 40px;
    display: block;
    mask-image: url("../../icons/stack.svg#slider");
    mask-repeat: no-repeat;
    mask-size: 40px 40px;
    background-color: #666666;
  }

  &:hover,
  &:focus {
    border-color: #68b738;
  }

  &:hover::after,
  &:focus::after,
  &:active::after {
    background-color: #68b738;
  }

  &:hover::before,
  &:focus::before,
  &:active::before {
    background: linear-gradient(180deg, #68b738 0%, #68b738, calc(50% - 25px), transparent calc(50% - 25px), transparent calc(50% + 25px), #68b738 calc(50% + 25px), #68b738 100%);
  }
}

.example-slider__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin-bottom: 42px;
  margin-top: 5px;
  text-align: start;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-top: -26px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-left: 10px;
    margin-bottom: 146px;
    width: 325px;
  }
}

.example-slider_description {
  font-family: $Lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  width: 280px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    width: 708px;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    margin-bottom: 65px;
    margin-left: 12px;
  }
}

.example-slider__information {
  width: 280px;
  display: grid;
  grid-template-columns: 124px 124px;
  column-gap: 32px;
  margin: 0 auto;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    column-gap: 43px;
    grid-template-columns: 162px 162px;
    justify-content: flex-start;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-bottom: 30px;
    column-gap: 45px;
    margin-left: 10px;
  }
}

.example-slider__information-kg p:nth-child(1) {
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  min-height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #cdcdcd;
  margin: 5px auto;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    height: 72px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 3px;
    margin-bottom: 8px;
  }
}

.example-slider__information-kg p:nth-child(2) {
  font-family: $Lato;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  text-align: center;
  width: 77px;
  margin: 0 auto;
  margin-top: -14px;
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    width: 116px;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    background-color: #f2f2f2;
  }
}

.example-slider__information-days p:nth-child(1) {
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  min-height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #cdcdcd;
  margin: 5px auto;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    height: 72px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 6px;
    margin-top: 3px;
    margin-bottom: 0;
  }
}

.example-slider__information-days p:nth-child(2) {
  font-family: $Lato;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  text-align: center;
  width: 77px;
  margin: 0 auto;
  margin-top: -14px;
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    width: 140px;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    background-color: #f2f2f2;
    margin-right: 15px;
    margin-top: -7px;
  }
}

.example-slider__cost {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 174px;
    text-align: end;
    margin-top: 13px;
  }

  @media (min-width: $desktop-width) {
    width: 372px;
    text-align: start;
    margin-left: 12px;
    margin-top: 19px;
  }
}

.example-slider__cost span {
  @media (min-width: $desktop-width) {
    margin-left: 60px;
  }
}

.example-slider__container {
  @media (min-width: $tablet-width) {
    width: 708px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 99px;
  }

  @media (min-width: $desktop-width) {
    width: 366px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
