.gift {
  width: 280px;
  min-height: 290px;
  margin-top: 38px;
  background-image: url("../../images/backgiftmobile@1x.webp");
  background-size: contain;
  background-color: #68b738;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  position: relative;

  @media (min-resolution: 2dppx) {
    background-image: url("../../images/backgiftmobile@2x.webp");
  }

  &::after {
    position: absolute;
    content: "";
    width: 78px;
    height: 80px;
    background-image: url("../../icons/gift.svg");
    top: 58px;

    @media (min-width: $tablet-width) {
      left: 79px;
      top: 57px;
    }

    @media (min-width: $desktop-width) {
      left: 81px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 707px;
    min-height: 200px;
    background-image: url("../../images/backgifttablet@1x.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/backgifttablet@2x.webp");
    }
    flex-direction: row;
    margin-top: 70px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    min-height: 288px;
    padding-top: 100px;
    background-image: url("../../images/backgiftdesktop@1x.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/backgiftdesktop@2x.webp");
    }
    flex-direction: column;
    margin: 0;
  }
}

.gift__description {
  font-family: $Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  width: 161px;
  margin-bottom: 43px;
  margin-top: 1px;
  margin-left: -2px;

  @media (min-width: $tablet-width) {
    text-align: start;
    margin-right: 124px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    margin: 43px 40px;
  }
}
