.hero {
  display: flex;
  flex-direction: column;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    background-image: url("../../images/backcatmobile@1x.webp");
    background-color: #5eaa2f;
    background-repeat: no-repeat;
    background-size: contain;
    width: 320px;
    min-height: calc(100% - 176px);
    top: 1px;
    left: 0;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/backcatmobile@2x.webp");
    }
  }

  @media (min-width: $tablet-width) {
    min-height: 855px;

    &::after {
      background-image: none;
      background-color: #ffffff;
    }
  }
}

@media (min-width: $desktop-width) {
  .hero {
    position: relative;
    min-height: 600px;
    margin-bottom: 62px;

    &::after {
      position: absolute;
      content: "";
      background-image: url("../../images/backcatdesktop@1x.webp");
      background-repeat: no-repeat;
      background-color: #5eaa2f;
      height: 694px;
      left: 50%;
      right: initial;
      width: 50vw;
      background-position: left center;
      top: -115px;

      @media (min-resolution: 2dppx) {
        background-image: url("../../images/backcatdesktop@2x.webp");
      }
    }
  }
}

.hero__title {
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  font-weight: 400;
  color: #ffffff;
  min-width: 249px;
  margin-top: 28px;
  margin-left: 2px;

  @media (min-width: $tablet-width) {
    color: #000000;
    margin-top: 65px;
    margin-bottom: 40px;
    font-size: 60px;
    line-height: 60px;
    width: 420px;
    text-align: start;
    margin-left: 90px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 111px;
    margin-left: 80px;
    margin-bottom: 40px;
  }
}

.hero__description {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
  width: 198px;
  margin: 25px auto;
  margin-left: 40px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    margin-top: 0;
    margin-left: 89px;
    margin-bottom: 21px;
    width: 283px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
    margin-left: 80px;
  }
}

.hero__link {
  font-family: $Oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #68b738;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  min-height: 40px;
  margin: 0 auto;
  border: none;
  outline: none;
  text-decoration: none;


  @media (min-width: $tablet-width) {
    margin-top: -580px;
    margin-left: 89px;
    font-size: 20px;
    line-height: 24px;
    width: 242px;
    min-height: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -185px;
    margin-left: 80px;
  }

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.hero__image {
  display: block;
  margin: 5px auto 2px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    margin-top: -315px;
    margin-right: 220px;
  }
}
