.hero {
  width: 320px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    background-image: url("../../icons/stack.svg#backcatmobile");
    width: 320px;
    height: 302px;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    width: 768px;
    margin: 0 auto;
    background-color: #ffffff;
    min-height: 850px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    margin: 0 auto;
    position: relative;
    min-height: 600px;
    margin-bottom: 82px;

    // &::after {
    //   position: absolute;
    //   content: "";
    //   background-image: url("../../icons/backcatdesktop.svg");
    //   background-repeat: no-repeat;
    //   width: 720px;
    //   height: 694px;
    //   right: 0;
    //   top: 0;
    // }
  }
}

.hero__title {
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  font-weight: 400;
  color: #ffffff;
  min-width: 249px;
  height: 72px;
  margin-top: 27px;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    color: #000000;
    margin-top: 65px;
    margin-bottom: 40px;
    font-size: 60px;
    line-height: 60px;
    width: 420px;
    text-align: start;
    margin-left: 120px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 110px;
    margin-left: 190px;
    margin-bottom: 40px;
  }
}

.hero__description {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
  width: 198px;
  margin: auto;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    margin-top: 40px;
    margin-left: 120px;
    margin-bottom: 21px;
    width: 283px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
    margin-left: 190px;
  }
}

.hero__button {
  font-family: $Oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #68b738;
  display: block;
  width: 280px;
  height: 40px;
  margin: 0 auto;
  border: none;

  @media (min-width: $tablet-width) {
    margin-top: -580px;
    margin-left: 120px;
    font-size: 20px;
    line-height: 24px;
    width: 244px;
    height: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -200px;
    margin-left: 190px;
  }

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    opacity: 0.3;
  }
}

.hero__image {
  display: block;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    margin-top: -300px;
    margin-right: 280px;
  }
}
