.main-footer {
  background-color: #f2f2f2;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    width: 708px;
    justify-content: space-between;
    align-items: center;
    padding: 55px 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: auto;
  }
}


.main-footer__logo {
  margin: 40px auto 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  &::after {
    content: "";
    width: 128px;
    height: 24px;
    display: block;
    mask-image: url("../../icons/stack.svg#logotext");
    mask-repeat: no-repeat;
    mask-size: 128px 24px;
    background-color: #111111;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
