.main-footer {
  background-color: #f2f2f2;
  padding-bottom: 40px;
  width: 100vw;
  left: calc((100vw - 100%) / -2);

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    width: 768px;
    justify-content: space-between;
    align-items: center;
    padding: 55px 30px;
    margin: -2px auto 0;
  }

  @media (min-width: $desktop-width) {
    margin: auto;
    width: 1220px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 65px;
  }
}

.main-footer__logo {
  margin: 40px auto 14px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-left: 1px;
  }

  &:hover,
  &:focus {
    fill: #3e3e3e;
  }

  &:active {
    fill: #6b6b6b;
  }
}
