
.main-footer__logo {
  &::after {
    content: "";
    width: 128px;
    height: 24px;
    display: block;
    mask-image: url("../../icons/stack.svg#logotext");
    mask-repeat: no-repeat;
    mask-size: 128px 24px;
    background-color: #111111;
  }

  &:hover,
  &:focus {
    background-color: #3e3e3e;
    opacity: 0.8;
  }

  &:active {
    background-color: #6b6b6b;
    opacity: 0.6;
  }
}
