.main-footer {
  background-color: #f2f2f2;
  padding-bottom: 40px;
  width: 100vw;
  left: calc((100vw - 100%) / -2);

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    width: 768px;
    justify-content: space-between;
    align-items: center;
    padding: 55px 30px;
    margin: -2px auto 0;
  }

  @media (min-width: $desktop-width) {
    margin: auto;
    width: 1220px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 65px;
  }
}


.main-footer__logo {
  margin: 40px auto 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-left: 1px;
  }

  &::after {
    content: "";
    width: 128px;
    height: 24px;
    display: block;
    mask-image: url("../../icons/stack.svg#logotext");
    mask-repeat: no-repeat;
    mask-size: 128px 24px;
    background-color: #111111;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
