.map__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.map__address {
  font-family: $Lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}
