.more {
  min-height: 207px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 4px;

  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 1px;
    top: 40px;
    bottom: initial;
    left: 50%;
    transform: translateX(-50%);
    background-color: #d3d3d3;
  }

  &::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 30px;
    top: 25px;
    bottom: initial;
    left: 50%;
    transform: translateX(-50%);
    background-color: #d3d3d3;
  }

  @media (min-width: $tablet-width) {
    width: 324px;
    height: 430px;
    border: 2px solid #f2f2f2;
    margin-top: 80px;
    background-color: #ffffff;

    &::before {
      position: absolute;
      content: "";
      width: 60px;
      height: 1px;
      top: 80px;
      bottom: initial;
      left: 50%;
      transform: translateX(-50%);
    }

    &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 60px;
      top: 50px;
      bottom: initial;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;

    &::after {

      top: 50px;
      bottom: initial;
      left: 51%;
    }
  }
}

.more__description {
  font-family: $Lato;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    width: 170px;
    margin-bottom: 82px;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 91px;
  }
}

.more__button {
  font-family: $Oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #444444;
  text-transform: uppercase;
  background-color: #f2f2f2;
  width: 280px;
  height: 40px;
  border: none;

  @media (min-width: $tablet-width) {
    width: 250px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
  }
}

.more__info {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  width: 204px;
  margin-top: 79px;
  margin-bottom: -4px;
  text-align: center;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    width: 134px;
    margin-top: 160px;
    margin-bottom: 23px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 149px;
    margin-bottom: 26px;
  }
}
