.more {
  min-height: 207px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 4px;

  &::before {
    content: "";
    position: absolute;
    bottom: -2px;
    height: 1px;
    background-color: #ebebeb;
    width: 100vw;
    left: calc((100vw - 100%) / -2);

    @media (min-width: $tablet-width) {
      height: 0;
    }
  }

  @media (min-width: $tablet-width) {
    width: 324px;
    height: 430px;
    border: 2px solid #f2f2f2;
    margin-top: 80px;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.more__description {
  font-family: $Lato;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    width: 170px;
    margin-bottom: 82px;
    margin-top: 0;
  }
}

.more__button {
  font-family: $Oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #444444;
  text-transform: uppercase;
  background-color: #f2f2f2;
  width: 280px;
  height: 40px;
  border: none;

  @media (min-width: $tablet-width) {
    width: 250px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
  }
}

.more__info {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  width: 204px;
  margin-top: 80px;
  margin-bottom: -4px;
  text-align: center;
  position: relative;

  &::before {
    content: " ";
    position: absolute;
    display: block;
    color: #d3d3d3;
    width: 30px;
    height: 2px;
    left: 5px;
    top: -25px;
    bottom: 5px;
    z-index: 9;
    transform: rotate(90deg);
  }

  &::after {
    content: " ";
    position: absolute;
    display: block;
    color: #d3d3d3;
    height: 2px;
    width: 30px;
    top: -40px;
    left: 88px;
    z-index: 9;

    @media (min-width: $tablet-width) {

    }

    @media (min-width: $desktop-width) {

    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    width: 134px;
    margin-top: 160px;
    margin-bottom: 23px;
  }
}
