.navigation {
  display: flex;
  flex-direction: column;
  height: 264px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-top: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 55px;
    height: 59px;
  }
}

.navigation__logo-image {
  width: 190px;
  display: flex;
  justify-content: space-between;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.navigation__container {
  width: 280px;
  height: 38px;
  margin: 13px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 174px;
  }
}

.navigation__list {
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: $Oswald;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    display: flex;
    min-width: 436px;
    flex-wrap: wrap;
    align-self: baseline;
    justify-content: space-between;
  }
}

.navigation__item {
  height: 66px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-width) {
    min-width: 64px;
    margin-right: 33px;
  }
}


.navigation__item:not(:last-child) {
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}

.navigation__item:first-child {
  border-top: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    border-top: none;
  }
}

.navigation__link {
  color: #000000;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    height: 36px;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  @media (min-width: $desktop-width) {
    color: #ffffff;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.navigation__link--catalog {
  @media (min-width: $desktop-width) {
    color: #000000;
  }
}

.navigation__link--current {
  @media (min-width: $tablet-width) {
    border-bottom: 2px solid #68b738;
  }

  @media (min-width: $desktop-width) {
    border-bottom: 2px solid #ffffff;
  }
}

.navigation__link--current-catalog {
  @media (min-width: $desktop-width) {
    border-bottom: 2px solid #68b738;
  }
}

.navigation__menu--close {
  background-image: url("../../icons/stack.svg#closebutton");
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-color: #ffffff;
  cursor: pointer;
  width: 18px;
  height: 18px;
  border: none;
  align-self: center;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.navigation__menu {
  background-image: url("../../icons/stack.svg#menubutton");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-color: #ffffff;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  align-self: center;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
