.other-products {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 34px;
    height: 2px;
    background-image: url("../../icons/linemore.svg");
    top: 10px;
    right: 0;
  }
}

.other-products__title {
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  font-weight: 400;
  width: 226px;
  margin-left: 20px;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
    width: 301px;
    margin-left: 40px;
  }
}

.other-products__list {
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 708px;
    border: 1px solid #cdcdcd;
  }
}

.other-products_item {
  min-height: 128px;
  border-top: 1px solid #cdcdcd;
  padding-top: 13px;
  padding-bottom: 19px;

  @media (min-width: $tablet-width) {
    border-top: none;
    border-bottom: 1px solid #cdcdcd;
    padding: 26px 38px 28px;
  }
}

.other-products_item:last-child {
  border-bottom: 1px solid #cdcdcd;
}

.other-products__name {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 13px;
  display: block;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.other-products__wrapper {
  font-family: $Lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #444444;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.other-products__button {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  font-family: $Oswald;
  background-color: #68b738;
  width: 280px;
  height: 40px;
  border: none;

  @media (min-width: $tablet-width) {
    width: 632px;
  }
}
