.other-products {
  position: relative;
  border-top: none;

  @media (min-width: $tablet-width) {
    background-image: none;
  }
}


.other-products__container {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.other-products__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 36px;
  position: relative;
  width: 100%;
  text-align: left;
  margin-left: 0;

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
    margin-left: 25px;
    margin-top: -20px;
    background-color: #ffffff;
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
  }
}

.other-products__title::before {
  content: "";
  position: absolute;
  top: 24px;
  height: 2px;
  background-color: #68b738;
  width: 100vw;
  left: calc((100vw - 100%) / -2);
}

.other-products__title span {
  background-color: #ffffff;
  position: relative;
  z-index: 1;
  padding: 0 10px;
}


.other-products__list {
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 708px;
    border: 1px solid #cdcdcd;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    border: none;
    min-height: 288px;
  }
}

.other-products_item {
  min-height: 128px;
  border-top: 1px solid #cdcdcd;
  padding-top: 13px;
  padding-bottom: 19px;

  @media (min-width: $tablet-width) {
    border-top: none;
    border-bottom: 1px solid #cdcdcd;
    padding: 26px 38px 28px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 896px;
    min-height: 40px;
    padding: 10px 0;

    &:first-child {
      border-top: 1px solid #cdcdcd;
    }
  }
}

.other-products_item:last-child {
  border-bottom: 1px solid #cdcdcd;
}

.other-products__name {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 13px;
  display: block;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    min-width: 162px;
  }
}

.other-products__wrapper {
  font-family: $Lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #444444;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 270px;
    margin: 0;
    margin-left: 130px;
  }
}

.other-products__button {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  font-family: $Oswald;
  background-color: #68b738;
  width: 280px;
  height: 40px;
  border: none;

  @media (min-width: $tablet-width) {
    width: 632px;
  }

  @media (min-width: $desktop-width) {
    width: 244px;

    &:hover {
      background-color: #5eaa2f;
    }

    &:active {
      background-color: #5eaa2f;
      color: rgba(255, 255, 255, 0.3);
    }
  }
}
