.products-catalog {
  @media (min-width: $tablet-width) {
    min-height: 1368px;
    margin-bottom: 88px;

    @media (min-width: $desktop-width) {
      margin-bottom: 38px;
      min-height: 1262px;
    }
  }
}


.products-catalog__list {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 99px 60px;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 100px 80px;
  }
}

.products-catalog__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  width: 260px;
  margin: 29px 0 41px;

  @media (min-width: $tablet-width) {
    width: 435px;
    font-size: 60px;
    line-height: 60px;
    margin: 65px 0 84px;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-top: 75px;
    margin-bottom: 83px;
  }
}


.products-catalog__item {
  position: relative;
  padding-top: 19px;
  padding-bottom: 24px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    height: 1px;
    background-color: #ebebeb;
    width: 100vw;
    left: calc((100vw - 100%) / -2);

    @media (min-width: $tablet-width) {
      height: 0;
    }
  }

  @media (min-width: $tablet-width) {
    width: 324px;
    padding: 0;
    border: none;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 324px;
      height: 90%;
      background-color: #f2f2f2;
      top: 81px;
      left: 0;
      z-index: -1;
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;

    &::after {
      width: 245px;
    }
  }
}

.products-catalog__item:nth-last-child(2) {
  padding-bottom: 24px;
}

.products-catalog__item:last-child {
  padding-top: 0;

  &::before {
    content: "";
    position: absolute;
    top: 200px;
    height: 1px;
    background-color: #ebebeb;
    width: 100vw;
    left: calc((100vw - 100%) / -2);

    @media (min-width: $tablet-width) {
      height: 0;
    }
  }

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
    height: 429px;
  }
}
