.product__container {
  display: grid;
  grid-template-columns: 140px 140px;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    width: 250px;
    min-height: 428px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.product__wrapper {
  @media (min-width: $tablet-width) {
    width: 250px;
    min-height: 157px;
  }
}

.product__wrapper-item {
  width: 140px;
  display: flex;
  justify-content: space-between;
  height: 16px;

  @media (min-width: $tablet-width) {
    width: 250px;
    height: 25px;
    border-bottom: 1px solid #cdcdcd;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    margin: auto;
    height: 26px;
  }
}

.product__wrapper-description {
  margin: 0;
}

.product__item-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
  width: 76px;
  text-align: start;
  margin-bottom: 2px;
  margin-top: 3px;

  @media (min-width: $tablet-width) {
    width: 135px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin: auto;
    margin-bottom: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
    margin-top: 4px;
    margin-left: 54px;
  }
}

.product__wrapper-list {
  font-family: $Lato;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 33px;
  }
}

.product__image {
  margin: 11px 36px;

  @media (min-width: $tablet-width) {
    display: block;
    margin: 29px 45px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 29px;
    margin-left: 44px;
  }
}

.product__button {
  font-family: $Oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #68b738;
  width: 280px;
  height: 40px;
  border: none;

  @media (min-width: $tablet-width) {
    width: 250px;
    margin: 2px 37px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;

    &:hover {
      background-color: #5eaa2f;
    }

    &:active {
      background-color: #5eaa2f;
      color: rgba(255, 255, 255, 0.3);
    }
  }
}

.product__container picture {
  z-index: 10;
}

.product__image--big {
  margin-top: 5px;
  margin-left: 28px;
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    margin: 14px 41px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 17px;
    margin-left: 37px;
  }
}

.product__image--small {
  margin-top: 16px;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin: 28px 45px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 27px;
    margin-left: 43px;
  }
}

.product__image--middle {
  margin-top: 13px;
  margin-left: 34px;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    margin: 28px 44px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 27px;
    margin-left: 42px;
  }
}
