.products-catalog {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
    margin: 0 auto;
    min-height: 2368px;
  }
}

.products-catalog__container {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-flow: column;
    margin: 0 30px 74px;
    min-height: 2224px;
    width: 708px;
    flex-wrap: wrap;
  }
}

.products-catalog__list {
  @media (min-width: $tablet-width) {
    // display: grid;
    // grid-template-columns: 324px 324px;
    // grid-template-rows: 511px;
    // gap: 60px 60px;
  }
}

.products-catalog__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  width: 260px;
  margin: 27px auto 41px;

  @media (min-width: $tablet-width) {
    width: 435px;
    font-size: 60px;
    line-height: 60px;
    margin: 65px 0 84px;
    margin-left: 30px;
  }
}


.products-catalog__item {
  padding: 20px 20px 0;
  height: 189px;
  border-top: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    width: 324px;
    height: 511px;
    padding: 0;
    border: none;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 324px;
      height: 430px;
      background-color: #f2f2f2;
      top: 81px;
      left: 0;
      z-index: -1;
    }
  }
}
