.programm {
  min-height: 540px;
  margin: 20px auto;

  @media (min-width: $tablet-width) {
    min-height: 783px;
  }

  @media (min-width: $desktop-width) {
    min-height: 374px;
    margin-bottom: 71px;
    margin-top: 0;
  }
}

.programm__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  min-width: 110px;
  margin-top: 30px;
  margin-bottom: 29px;
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    text-align: start;
    margin-left: 52px;
    margin-top: 77px;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin-bottom: 73px;
    margin-left: 0;
  }
}

.programm__title-slim {
  margin-left: 25px;
  padding-left: 65px;
  text-align: start;

  @media (min-width: $tablet-width) {
    margin-left: 52px;
    padding: 0;
    max-width: 350px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 65px;
    padding-left: 150px;
    max-width: 500px;
  }
}

.programm__title-pro {
  margin-left: 38px;
  padding-left: 53px;
  text-align: start;

  @media (min-width: $tablet-width) {
    margin-left: 53px;
    padding: 0;
    max-width: 350px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 65px;
    padding-left: 150px;
    max-width: 500px;
    text-align: left;
  }
}

.programm__description {
  font-family: $Lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  width: 240px;
  min-height: 113px;
  margin-bottom: 14px;
  margin-left: 20px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-left: 51px;
    margin-bottom: 35px;
    width: 340px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    width: 457px;
    margin-bottom: 28px;
    min-height: 72px;
    margin-left: 53px;
  }
}

.programm__link {
  font-family: $Oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  position: relative;
  width: 144px;
  text-align: start;
  margin-top: 5px;
  margin-left: 20px;
  border-top: 1px solid #d9d9d9;
  border: none;
  text-decoration: none;
  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 0;
    margin-left: 52px;
    margin-bottom: 53px;
    margin-top: 7px;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
    margin-bottom: 55px;
    margin-top: 5px;
    margin-left: 53px;
  }

  &:active {
    opacity: 0.3;
  }
}


.programm__link::after {
  position: absolute;
  content: "";
  background-image: url("../../icons/stack.svg#shortarrow");
  width: 24px;
  height: 12px;
  top: 5px;
  left: 101px;

  @media (min-width: $tablet-width) {
    left: 130px;
    top: 10px;
  }
}

.programm__link:hover::after {
  background-image: url("../../icons/stack.svg#arrow");
  width: 32px;
  height: 12px;
}

.programm__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 280px;
  margin: auto;

  @media (min-width: $tablet-width) {
    width: 708px;
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 570px 570px;
    column-gap: 80px;
    width: 1220px;
    align-items: start;
  }
}

.programm__item {
  background-color: #f2f2f2;
  min-height: 256px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    min-height: 372px;
  }
}

.programm__item:nth-child(1) {
  position: relative;
}

.programm__item:nth-child(1)::before {
  position: absolute;
  content: "";
  background-image: url("../../icons/stack.svg#slimcat");
  width: 50px;
  min-height: 53px;
  top: 22px;
  left: 20px;

  @media (min-width: $tablet-width) {
    width: 200px;
    min-height: 210px;
    top: 80px;
    left: 445px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 106px;
    top: -12px;
    left: 52px;
  }
}

.programm__item:nth-child(2) {
  position: relative;
}

.programm__item:nth-child(2)::before {
  position: absolute;
  content: "";
  background-image: url("../../icons/stack.svg#procat");
  width: 67px;
  min-height: 50px;
  top: 23px;
  left: 12px;

  @media (min-width: $tablet-width) {
    width: 268px;
    min-height: 200px;
    top: 90px;
    left: 414px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
    height: 100px;
    top: -4px;
    left: 35px;
  }
}
