.programm {
  min-height: 540px;
  margin: 20px auto;

  @media (min-width: $tablet-width) {
    min-height: 783px;
  }

  @media (min-width: $desktop-width) {
    min-height: 374px;
    margin-bottom: 71px;
    margin-top: 0;
  }
}

.programm__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  min-width: 110px;
  margin-top: 30px;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    text-align: start;
    margin-left: 52px;
    margin-top: 77px;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    margin-bottom: 73px;
    margin-left: 0;
  }
}

.programm__title-slim {
  margin-left: 9px;

  @media (min-width: $tablet-width) {
    margin-left: 52px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 26px;
  }
}

.programm__title-pro {
  margin-left: 38px;

  @media (min-width: $tablet-width) {
    margin-left: 53px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 62px;
  }
}

.programm__description {
  font-family: $Lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  width: 240px;
  min-height: 113px;
  margin-bottom: 13px;
  margin-left: 20px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-left: 51px;
    margin-bottom: 28px;
    width: 340px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    width: 457px;
    margin-bottom: 23px;
    min-height: 72px;
    margin-left: 53px;
  }
}

.programm__button {
  font-family: $Oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  position: relative;
  width: 144px;
  text-align: start;
  margin-top: 5px;
  margin-left: 15px;
  border-top: 1px solid #d9d9d9;
  border: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 0;
    margin-left: 52px;
    margin-bottom: 53px;
    margin-top: 7px;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
    margin-bottom: 55px;
    margin-top: 5px;
    margin-left: 53px;
  }

  &:active {
    opacity: 0.3;
  }
}


.programm__button::after {
  position: absolute;
  content: "";
  background-image: url("../../icons/stack.svg#arrow");
  width: 24px;
  height: 12px;
  top: 8px;
  left: 104px;
  transform: translateY(-50%);
  transition: transform 0.3s ease;

  @media (min-width: $tablet-width) {
    left: 130px;
    top: 15px;
  }
}

.programm__button:hover::after {
  transform: translateY(-50%) scaleX(1.2);
}

.programm__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 280px;
  margin: auto;

  @media (min-width: $tablet-width) {
    width: 708px;
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 570px 570px;
    column-gap: 80px;
    width: 1220px;
    align-items: start;
  }
}

.programm__item {
  background-color: #f2f2f2;
  min-height: 266px;

  @media (min-width: $tablet-width) {
    min-height: 372px;
  }
}

.programm__item:nth-child(1) {
  position: relative;
}

.programm__item:nth-child(1)::before {
  position: absolute;
  content: "";
  background-image: url("../../icons/stack.svg#slimcat");
  width: 50px;
  min-height: 53px;
  top: 22px;
  left: 20px;

  @media (min-width: $tablet-width) {
    width: 200px;
    min-height: 211px;
    top: 80px;
    left: 445px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 106px;
    top: -13px;
    left: 52px;
  }
}

.programm__item:nth-child(2) {
  position: relative;
}

.programm__item:nth-child(2)::before {
  position: absolute;
  content: "";
  background-image: url("../../icons/stack.svg#procat");
  width: 67px;
  min-height: 50px;
  top: 25px;
  left: 12px;

  @media (min-width: $tablet-width) {
    width: 268px;
    min-height: 200px;
    top: 90px;
    left: 415px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
    height: 100px;
    top: -4px;
    left: 35px;
  }
}
