.programm__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: 400;
}

.programm__description {
  font-family: $Lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.programm__button {
  font-family: $Oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.programm__item {
  background-color: #f2f2f2;
}
