.subscribe {
  min-height: 256px;
  padding: 40px 20px;
  position: relative;
  border-top: none;

  @media (min-width: $tablet-width) {
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    padding: 80px 20px;
    padding-bottom: 135px;
  }
}

.subscribe__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 32px;
  position: relative;
  width: 100%;
  text-align: left;
  margin-left: -10px;

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 68px;
    margin-top: 38px;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
    margin-top: 15px;
    margin-bottom: 72px;
  }
}

.subscribe__title::before {
  content: "";
  position: absolute;
  top: 10px;
  height: 2px;
  background-color: #68b738;
  width: 100vw;
  left: calc((100vw - 100%) / -2);

  @media (min-width: $tablet-width) {
    top: 15px;
  }

  @media (min-width: $desktop-width) {
    top: 18px;
  }
}

.subscribe__title span {
  background-color: #ffffff;
  position: relative;
  z-index: 1;
  padding: 0 10px;

  @media (min-width: $tablet-width) {
    right: -21px;
    width: 282px;
    display: block;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    padding: 0 40px;
    width: 283px;
    display: inline;
    margin-left: -60px;
  }
}


.subscribe__description {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    width: 632px;
    font-size: 24px;
    line-height: 32px;
    margin-left: 48px;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 730px;
    margin: auto;
    margin-bottom: 23px;
  }
}

.subscribe__form input {
  font-size: 20px;
  line-height: 30px;
  font-family: $Oswald;
  font-weight: 400;
  color: #444444;
  text-transform: uppercase;
  width: 280px;
  height: 56px;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
  padding-left: 13px;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    width: 376px;
  }

  @media (min-width: $desktop-width) {
    width: 496px;
  }
}

.subscribe__button {
  font-size: 20px;
  line-height: 26px;
  font-family: $Oswald;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #68b738;
  width: 280px;
  height: 56px;
  border: none;

  @media (min-width: $tablet-width) {
    width: 256px;
  }

  @media (min-width: $desktop-width) {
    &:hover {
      background-color: #5eaa2f;
    }

    &:active {
      background-color: #5eaa2f;
      color: rgba(255, 255, 255, 0.3);
    }
  }
}

.subscribe__form {
  @media (min-width: $tablet-width) {
    margin-left: 48px;
    display: flex;
    justify-content: center;
    height: 56px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    text-align: center;
  }
}
