.subscribe {
  min-height: 256px;
  padding: 40px 20px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 108px;
    height: 2px;
    background-image: url("../../icons/subscribeline.svg");
    top: 15%;
    right: 0;
  }
}

.subscribe__title {
  font-size: 24px;
  line-height: 24px;
  text-align: start;
  font-weight: 400;
  margin-bottom: 32px;
}

.subscribe__description {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 24px;
}

.subscribe__form input {
  font-size: 20px;
  line-height: 30px;
  font-family: $Oswald;
  font-weight: 400;
  color: #444444;
  text-transform: uppercase;
  background-color: #cdcdcd;
}

.subscribe__button {
  font-size: 20px;
  line-height: 26px;
  font-family: $Oswald;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #68b738;
  width: 280px;
  height: 56px;
  border: none;
}

.subscribe__form input {
  width: 267px;
  height: 56px;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
  padding-left: 13px;
  margin-bottom: 16px;
}
